---
import HeaderLink, { Target, Device } from "./HeaderLink.astro";
import { Image } from "astro:assets";
import LogoDecorazon from "../assets/logoDcorazon.png";
---

<header class="fixed top-0 z-60 w-screen">
  <nav
    class="mx-auto flex max-w-10xl items-center justify-between px-4 py-1 pb-0 uppercase lg:px-8 bg-rose-300 shadow-2xl"
  >
    <div class="flex">
      <div class="hidden lg:flex lg:gap-x-12">
        <HeaderLink text="Info" href="/#info" device={Device.DESKTOP} />
        <HeaderLink text="Galería" href="/Gallery" device={Device.DESKTOP} />
        <HeaderLink
          text="Servicios"
          href="/#Services"
          device={Device.DESKTOP}
        />
        <HeaderLink text="Contacto" href="/#Contact" device={Device.DESKTOP} />
        <HeaderLink
          text="Solicitar Evento"
          href="/Form"
          device={Device.DESKTOP}
        />
      </div>
    </div>
    <div class="flex lg:hidden">
      <button
        type="button"
        id="open-menu-button"
        class="-m-2.5 inline-flex cursor-pointer items-center justify-center rounded-md p-2.5 text-black transition-all duration-300 will-change-transform hover:scale-150"
      >
        <span class="sr-only">Abrir Menú Principal</span>
        <svg
          class="size-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>
    <div class="flex flex-1 justify-end">
      <div class="relative flex flex-col items-end">
        <Image
          class="mx-auto inline-block size-20 rounded-full md:size-18"
          src={LogoDecorazon}
          alt="Logo Decorazon"
          width={75}
          height={75}
        />
      </div>
    </div>
  </nav>

  <dialog
    class="bg-primary z-50 max-h-[80vh] w-full max-w-full translate-x-0 transition-discrete duration-300 lg:hidden starting:-translate-x-full [&:not([open])]:-translate-x-full"
    id="mobile-menu"
    role="dialog"
    aria-modal="true"
  >
    <div class="z-10 overflow-y-auto px-6 py-6">
      <div class="flex items-center justify-between">
        <div class="flex flex-1">
          <button
            type="button"
            id="close-menu-button"
            class="-m-2.5 cursor-pointer p-2.5 text-black transition-all duration-300 ease-in will-change-transform hover:scale-150"
          >
            <span class="sr-only">Cerrar Menú</span>
            <svg
              class="size-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18 18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="mt-6 space-y-2">
        <HeaderLink text="Info" href="/#info" device={Device.MOBILE} />
        <HeaderLink text="Galería" href="/Gallery" device={Device.MOBILE} />
        <HeaderLink text="Servicios" href="/#Services" device={Device.MOBILE} />
        <HeaderLink text="Contacto" href="/#Contact" device={Device.MOBILE} />
        <HeaderLink
          text="Solicitar Evento"
          href="/Form"
          device={Device.MOBILE}
        />
      </div>
    </div>
  </dialog>
</header>

<script>
  const mobileMenu = document.getElementById(
    "mobile-menu"
  ) as HTMLDialogElement;
  const openMenuButton = document.getElementById("open-menu-button");
  const closeMenuButton = document.getElementById("close-menu-button");

  const toggleMenu = () => {
    mobileMenu.open ? mobileMenu.close() : mobileMenu.showModal();
  };

  openMenuButton?.addEventListener("click", toggleMenu);
  closeMenuButton?.addEventListener("click", toggleMenu);
  mobileMenu
    .querySelectorAll("a")
    ?.forEach((item) => item.addEventListener("click", toggleMenu));
</script>
