---
import Image from "astro/components/Image.astro";
import bgPruebaServicio from "../assets/dcorazon_bg.png";
import bgSectionServices from "../assets/background_02.jpg";
---

<section
  id="services"
  class="relative min-h-[30vh] sm:min-h-[100vh] flex items-center"
  style={`background-image:url(${bgSectionServices.src}); background-size:cover; background-position:center;`}
>
  <div class="mx-auto w-full max-w-7xl px-6">
    <div class="flex flex-col items-center justify-center py-12">
      <h2 class="text-2xl font-bold">Nuestros Servicios</h2>
      <p class="mt-2 text-center">
        Ofrecemos una variedad de servicios de decoración para todo tipo de
        eventos.
      </p>
    </div>

    <!-- Servicios ofrecidos por DeCorazon -->
    <div class="md:flex md:items-center md:flex-row md:justify-center flex flex-col pb-2.5 gap-10 ">
        
      <div
        class="max-w-sm rounded-2xl  bg-rose-300 backdrop-blur-sm shadow-sm"
      >
        <Image class="rounded-t-lg" src={bgPruebaServicio} alt="" />

        <div class="p-5">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
              Revelaciones de sexo
            </h5>
          </a>
          <p class="mb-3 font-normal text-gray-800">
            Revelamos de forma creativa y emotiva si será niño o niña, con
            decoración temática y un ambiente especial para compartir con
            familiares y amigos
          </p>
          <a
            href="/form"
            class="mt-6 inline-flex items-center justify-center rounded-xl px-6 py-3 font-semibold shadow bg-rose-300 hover:bg-rose-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-rose-500"
            aria-label="Ir al formulario de servicios"
          >
            Solicitar un evento
            <svg
              class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"></path>
            </svg>
          </a>
        </div>
      </div>

      <div
        class="max-w-sm rounded-2xl  bg-rose-300 backdrop-blur-sm shadow-sm"
      >
        <Image class="rounded-t-lg" src={bgPruebaServicio} alt="" />

        <div class="p-5">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
              Revelaciones de sexo
            </h5>
          </a>
          <p class="mb-3 font-normal text-gray-800">
            Revelamos de forma creativa y emotiva si será niño o niña, con
            decoración temática y un ambiente especial para compartir con
            familiares y amigos
          </p>
          <a
            href="/form"
            class="mt-6 inline-flex items-center justify-center rounded-xl px-6 py-3 font-semibold shadow bg-rose-300 hover:bg-rose-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-rose-500"
            aria-label="Ir al formulario de servicios"
          >
            Solicitar un evento
            <svg
              class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"></path>
            </svg>
          </a>
        </div>
      </div>

      <div
        class="max-w-sm rounded-2xl  bg-rose-300 backdrop-blur-sm shadow-sm"
      >
        <Image class="rounded-t-lg" src={bgPruebaServicio} alt="" />

        <div class="p-5">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
              Revelaciones de sexo
            </h5>
          </a>
          <p class="mb-3 font-normal text-gray-800">
            Revelamos de forma creativa y emotiva si será niño o niña, con
            decoración temática y un ambiente especial para compartir con
            familiares y amigos
          </p>
          <a
            href="/form"
            class="mt-6 inline-flex items-center justify-center rounded-xl px-6 py-3 font-semibold shadow bg-rose-300 hover:bg-rose-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-rose-500"
            aria-label="Ir al formulario de servicios"
          >
            Solicitar un evento
            <svg
              class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"></path>
            </svg>
          </a>
        </div>
      </div>


      <div
        class="max-w-sm rounded-2xl  bg-rose-300 backdrop-blur-sm shadow-sm"
      >
        <Image class="rounded-t-lg" src={bgPruebaServicio} alt="" />

        <div class="p-5">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
              Revelaciones de sexo
            </h5>
          </a>
          <p class="mb-3 font-normal text-gray-800">
            Revelamos de forma creativa y emotiva si será niño o niña, con
            decoración temática y un ambiente especial para compartir con
            familiares y amigos
          </p>
          <a
            href="/form"
            class="mt-6 inline-flex items-center justify-center rounded-xl px-6 py-3 font-semibold shadow bg-rose-300 hover:bg-rose-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-rose-500"
            aria-label="Ir al formulario de servicios"
          >
            Solicitar un evento
            <svg
              class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
